<div class="home-page">
    <!-- Home page header starts -->
    <div class="home-header">
        <p class="welcome-user">Welcome {{ user.username }}</p>
        <span class="logout-user" ng-click="logout()">
            <i class="fa fa-power-off" aria-hidden="true"></i>
        </span>        
    </div>
    <!-- Home page header ends -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><input ng-model="chat_group_name" placeholder="Enter group name" required></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearParticipationList()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select Group Participants</p>          
                    <div class="checkbox" ng-repeat="friend in data.users">
                        <label><input ng-model="checked" type="checkbox" value="" ng-change="editParticipationList(checked, friend)"> {{friend.screenName.screenName}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-if="chat_group_name" ng-click="createChannel()">Create Group</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clearParticipationList()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Home page body start -->
    <div class="home-body">
        <div class="row">
            <!-- Message Area Markup starts -->
            <div class="col-md-8">
                <div class="message-container">
                    <p ng-show="data.selectedFriendId !== null" ? true : false >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="message-heading"> Chat History With {{data.selectedFriendName}}</span>
                        <span ng-if="selectedChannelParticipants.length>0">(</span>
                        <span style="font-size:12px" ng-repeat="participant in selectedChannelParticipants track by $index"> {{participant}}<span ng-if="!$last">,</span></span>
                        <span ng-if="selectedChannelParticipants.length>0">)</span>
                    </p>
                    <div class="message-list" style="position:relative">
                        <ul class="message-thread">
                            <li ng-repeat="messagePacket in data.messages track by $index"
                                ng-class="{ 'align-right' : alignMessage(messagePacket.senderId.identifier) } ">
                                <span ng-if="messagePacket.payloadType =='mitter.mt.ImageMessage'">
                                    <img ng-src="{{messagePacket.messageData[0].data.link}}"><br>
                                </span>
                                <span ng-if="checkMessageType(messagePacket.textPayload) == 'object'" ng-repeat="(key, value) in messagePacket.textPayload track by $index">
                                    <strong>{{key}} - </strong>
                                    <span ng-if="checkMessageType(value) == 'object'" ng-repeat="movie in value track by $index"><br>
                                        <span ng-repeat="(movie_att, movie_data) in movie track by $index">{{movie_att}} : {{movie_data}}<br></span>
                                    </span>
                                    <span ng-if="checkMessageType(value) == 'string' || checkMessageType(value) == 'number'">{{value}}</span><br>
                                </span>
                                <span ng-if="checkMessageType(messagePacket.textPayload) == 'string'">{{messagePacket.textPayload}}</span>
                            </li>
                            
                        </ul>
                        <span ng-if="typing" class="typing-indicatior">Typing.. </span>
                    </div>
                    <div class="message-text">
                        <textarea id="message" 
                            class="message form-control" 
                            placeholder="Type and hit Enter" 
                            ng-keydown="sendMessage($event)"
                        ></textarea>
                    </div>
                </div>
            </div>
            <!-- Message Area Markup ends -->

            <!-- Chat list Markup starts -->
            <div class="col-md-4">
                <div class="chat-list-container">
                    <div class="chat-list-headers row">
                     <div style="padding-right:0px" ng-class="active == 1 ? 'cursor_icon col-md-3' : 'cursor_icon underline col-md-3'" ng-click="active = 0"><i class="fa fa-list" aria-hidden="true"></i> Chat list</div>
                    <div style="padding-right:0px" ng-class="active == 0 ? 'cursor_icon col-md-3' : 'cursor_icon underline col-md-3'" ng-click="active = 1"><i class="fa fa-user" aria-hidden="true"></i> New Chat</div>
                    <div class="cursor_icon col-md-5" style="padding-right:0px" ng-click="clearNewGroupChatForm()" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-users" aria-hidden="true"></i> New Group Chat</div>
                </div>

                    
                    <uib-tabset active="active">
                        <!-- Login Tab starts -->
                        <uib-tab index="0">
                            
                            <div class="chat-list">
                                <ul class="list-group" ng-if="data.chatlist.length > 0">
                                    <li class="list-group-item"
                                        ng-repeat="friend in data.chatlist"
                                        ng-click="selectFriendToChat(friend.channelId)"
                                        ng-class="{'active':friend.channelId == data.selectedFriendId}"
                                    >{{friend.entityProfile.attributes[0]["value"] ? friend.entityProfile.attributes[0]["value"] : friend.channelId}}</li>
                                </ul>
                            </div>
                        </uib-tab>
                        <!-- Login Tab ends -->
                        <!-- Register Tab starts -->
                        <uib-tab index="1">
                            <ul class="list-group" ng-if="data.users.length > 0">
                                <li class="list-group-item cursor_icon"
                                    ng-repeat="friend in data.users"
                                    ng-if="participants.length>0 && participants.indexOf(friend.userId)== -1"
                                    ng-click="createChannel(friend)"
                                    ng-class="{'active':friend.userId == data.selectedFriendId}"
                                >{{friend.screenName.screenName}}<span class="pull-right">Start Chat <i class="fa fa-comment-o" aria-hidden="true"></i></span></li>
                            </ul>
                            <div class="alert alert-info" ng-if="data.users.length === 0">
                                <strong>No one is online to chat, ask someone to Login.</strong>
                            </div>
                            
                        </uib-tab>
                        <!-- Register Tab ends -->
                    </uib-tabset>                   
                </div>
            </div>
            <!-- Chat List Markup ends -->

        </div>
    </div>
    <!-- Home page body start -->
    
    

    
</div>